<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Profile</title>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
</head>
<body>
<h1>마이페이지</h1>
<h2>[[${account.name}]]님</h2>
<div>
    <h3>회원 정보</h3>
    <p>이름: [[${account.name}]]</p>
    <p>email: [[${account.email}]]</p>
</div>

<a href="/profile/ord-list">사용자 주문 확인하기</a>
<hr>
<a href="/account/logout">로그아웃</a>
</body>
</html>