<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Order List</title>
</head>
<body>
    <h2>주문 목록</h2>
    <!-- 주문이 없는 경우 -->
    <div th:if="${ords.isEmpty()}">
        <p>요청된 주문이 없습니다.</p>
    </div>

    <!-- 주문이 있는 경우 -->
    <div id="order-list" th:unless="${ords.isEmpty()}" th:each="ord : ${ords}">
        <hr>
        <div style="display: flex; align-items: center;">
            <a th:href="@{'/order-accept/' + ${shopId} + '/read/' + ${ord.id}}" style="margin-right: 10px;">
                <p th:text="${ord.getId()}" style="margin: 0;"></p>
            </a>
            <p th:text="${ord.getOrdTime()}" style="margin: 0 10px 0 0;"></p>
            <p th:text="${ord.getStatus()}" style="margin: 0;"></p>
        </div>
    </div>
</body>
<script>

</script>
</html>